body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    /* justify-content: center; */
    justify-content: center;
}

.rules-text {
    max-width: 80%;
    margin: auto; /* Centers the text block */
}

h1 {
    font-size: 8vw;
    margin-bottom: 20px;
}

h2 {
    font-size: 4vw;
    margin-bottom: 20px;
}

button {
    font-size: 3vw;
    padding: 20px 40px;
    margin: 0 10px;
    cursor: pointer;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #555;
    transform: scale(1.1);
}

input[type="text"], input[type="submit"] {
    font-size: 2vw;
    margin: 10px 0;
    padding: 15px;
    width: 50%;
}

@media (max-width: 600px) {
    input[type="text"], input[type="submit"] {
        font-size: 4vw;
        width: 80%;
    }
    .button-container {
        flex-direction: row; /* Keeps buttons in a row on small screens */
    }
}
