<!DOCTYPE html>
<html>
<head>
    <title>Guesser Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #message, #countdown {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
    <script>
        function adjustFontSize(element, isMessage = false) {
            // メッセージの場合、文字数で割る数を調整
            var divisor = isMessage ? element.textContent.length / 2 : element.textContent.length;
            var fontSize = Math.min(window.innerWidth / divisor, window.innerHeight);
            // カウントダウンの数字のサイズを80%に調整
            if (!isMessage) {
                fontSize *= 0.8;
            }
            element.style.fontSize = fontSize + 'px';
        }

        function showCountdown() {
            var countdownElement = document.getElementById('countdown');
            var word = "{{ word }}";
            var counter = 3;

            var interval = setInterval(function() {
                if (counter > 0) {
                    countdownElement.textContent = counter;
                    adjustFontSize(countdownElement);
                    counter--;
                } else {
                    clearInterval(interval);
                    countdownElement.textContent = word;
                    adjustFontSize(countdownElement);
                }
            }, 1000);
        }

        window.onload = function () {
            var messageElement = document.getElementById('message');
            messageElement.textContent = "Guesser,\nlook away.";
            adjustFontSize(messageElement, true);

            setTimeout(function() {
                messageElement.style.display = 'none';
                showCountdown();
            }, 1000);
        };

        window.onresize = function() {
            var messageElement = document.getElementById('message');
            var countdownElement = document.getElementById('countdown');
            if (messageElement.style.display !== 'none') {
                adjustFontSize(messageElement, true);
            }
            adjustFontSize(countdownElement);
        };
    </script>
</head>
<body>
    <div id="message"></div>
    <div id="countdown"></div>
</body>
</html>
