<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5127M5ERGH"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-5127M5ERGH');
    </script>
    <!-- Other head elements -->
    <title>Guesser Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        #message, #countdown {
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        #message {
            font-size: 8em;
        }
    </style>
    <script>
        function adjustFontSize(element, isMessage = false) {
            var divisor = isMessage ? element.textContent.length / 2 : element.textContent.length;
            var fontSize = Math.min(window.innerWidth / divisor, window.innerHeight);
            if (!isMessage) {
                fontSize *= 0.8;
            }
            element.style.fontSize = fontSize + 'px';
        }

        function showCountdown() {
            var countdownElement = document.getElementById('countdown');
            var word = "{{ word }}";
            var counter = 3;

            var interval = setInterval(function() {
                if (counter > 0) {
                    countdownElement.textContent = counter;
                    adjustFontSize(countdownElement);
                    counter--;
                } else {
                    clearInterval(interval);
                    countdownElement.textContent = word;
                    adjustFontSize(countdownElement);
                }
            }, 1000);
        }

        window.onload = function () {
            var messageElement = document.getElementById('message');
            messageElement.innerHTML = 'Turn the screen to "Clue givers".<br><br>"Gusser" do not look at the screen.';
            adjustFontSize(messageElement, true);

            setTimeout(function() {
                messageElement.style.display = 'none';
                showCountdown();
            }, 3000);
        };

        window.onresize = function() {
            var messageElement = document.getElementById('message');
            var countdownElement = document.getElementById('countdown');
            if (messageElement.style.display !== 'none') {
                adjustFontSize(messageElement, true);
            }
            adjustFontSize(countdownElement);
        };
    </script>
</head>
<body>
    <div id="message"></div>
    <div id="countdown"></div>
</body>
</html>
