<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LD9500Y7G4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-LD9500Y7G4');
    </script>
    <!-- Other head elements -->
    <title>How to Play</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .rules-text {
            white-space: pre-wrap;
            font-size: 2em;
        }
        button {
            font-size: 4em;
            padding: 20px 40px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="rules-text">{{ rules|safe }}</div>
        <a href="{{ url_for('index') }}"><button>Back</button></a>
    </div>
</body>
</html>
