<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .button-group {
            display: flex;
            justify-content: center;
        }
        a.how-to-play {
            color: grey; /* リンクの文字色をグレーに */
            font-size: 2vw;
            text-decoration: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Choose your role</h1>
        <div class="button-group">
            <a href="{{ url_for('guesser') }}"><button>Guesser</button></a>
            <a href="{{ url_for('clue_giver') }}"><button>Clue Giver</button></a>
        </div>
        <a href="{{ url_for('how_to_play') }}" class="how-to-play">How to play</a>
    </div>
</body>
</html>
