<!DOCTYPE html>
<html>
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ measurement_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ measurement_id }}');
    </script>
    <!-- Other head elements -->
    <title>How to Play</title>
</head>
<body>
    <div class="container">
        <img src="{{ url_for('static', filename='pictures/Slide' ~ slide_num ~ '.PNG') }}" alt="Slide {{ slide_num }}">
        <div class="button-container">
            <a href="{{ url_for('index') }}"><button>Home</button></a>
            {% if next_slide_num %}
            <a href="{{ url_for('slide', num=next_slide_num) }}"><button>Next</button></a>
            {% endif %}
        </div>
    </div>
</body>
</html>
